// Colores principales
$background: #fedcc8;
$layer0: #2d112b;
$layer1Light: #ff7e49;
$layer1Dark: #ff6c3f;
$layer1Darkest: #890932;
$layer2Light: #7d0031;
$layer2Dark: #ef4339;
$layer3: #7d0031;
$layer4: #7d0031;
$layer5: #530031;
$layer6: #2d112b;
